# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.exe`
*.class
*.exe

# Ignore `bin` dir
bin/
# or
*/bin/*

# Unignore all `.exe` in `bin` dir
!*/bin/*.exe

#ignore Test File
C/Testes.c
c++/Testes.cpp

#VSCODE STUFF
/.vscode